# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.code-workspace

**/.terraform

**/infrastructure/local_env
**/infrastructure/terraform.tfstate
**/infrastructure/terraform.tfstate.backup

**/functions/**Dockerfile**

**/functions/oci_env.sh
**/.DS_Store
**/functions/actions.json
**/functions/token.txt
